<?xml version='1.0' encoding='utf-8'?>
<widget id="com.abusalah.ababeel" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>أبابيل غزة</name>
    <description>لعبة أبابيل غزة V2.0 - طوفان السماء - بلوتوث متعدد اللاعبين</description>
    <author email="dev@example.com" href="">محمود المصري (أبو صلاح)</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="KeepRunning" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="35" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="HardwareAcceleration" value="true" />
    <preference name="IgnoreSslCertificateError" value="true" />
    <feature name="BluetoothSerial">
        <param name="android-package" value="com.megster.cordova.BluetoothSerial" />
        <param name="onload" value="true" />
    </feature>
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        </config-file>
    </platform>
</widget>
